
html { 
    
    background: url('https://i.imgur.com/Xg0T6Lq.jpeg');
    background-size: cover;
    background-position: center; 
    height: 100%; /*stablelized image when game started*/
} 

body {
    display: flex;
    flex-direction: column;
    align-items: center; /*centers horizontally */
    gap: 50px;
    background-color: rgba(0,0,0,0.4);
    font-family: 'UnifrakturCook', cursive;
}

    @keyframes blink{
        25% {
            opacity: 0
        }
    }

h1 { 
    color: #FFFFFF;
    font-size: 100px;
    animation: blink 1.5s linear infinite;
}

header {
    color: #FF0000;
    font-size: 50px;
    background-color: rgba(0,0,0,0.6);
}

main { 

    background-color: rgba(255,255,255,0.5);
    border-width: 6px;
    border-style: dotted;
    border-color: black;
} 


    @keyframes glowing {
        0% {
            background-color: #FF0000;
            box-shadow: 0 0 5px #FF0000;
        }   
        50% {
            background-color: #800000;
            box-shadow: 0 0 25px #800000;
        }
        100% {
            background-color: #FF0000;
            box-shadow: 0 0 5px #FF0000;
        }
  }

#betting {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 30px;
    border: none;
    animation: glowing 1300ms infinite;
}